body{
    background-color: #431f30;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    background-color: #852f4d;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.158);
    justify-content: center;
    align-items: center;
    padding: 10px 500px 10px 10px;
    transition: 1s;
}

#title:hover{
    transform: scale(1.05);
    transition: 1s ;
}

#logo{
    width: 100px;
    border-radius: 10px;
    transition: 0.5s;
}

#logo:hover{
    transition: 0.5s;
    transform: scale(1.10);
}

/*Texto*/
main{
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    line-height: 1px;
}

main h2{
    color: #ff6775;
    font-weight: 1;
    font-size: 30pt;
}

main h3{
    font-weight: 1;
    font-size: 30pt;
}

main p{
    font-weight: 1;
    font-size: 15pt;
    line-height: 20px;
}

#list{
    font-size: 13pt;
    flex-direction: row;
}

#list p{
    display: inline-block;
    color: #ff998e;
    margin: 10px;
    transition: 0.5s;
}

#list p:hover{
    transform: scale(1.20);
    transition: 0.5s;
    color: #ffb2a9;
    cursor: default;
}

#list p:active{
    color: white;
    transform: scale(1.40);
}

/*Links*/
#link{
    color: #ff998e;
    text-decoration: none;
    font-size: 20pt;
    text-align: center;
    transition: 0.5s;
}

#link:hover{
    transition: 0.5s;
    color: #ffb2a9;
    transform: scale(1.20);
}

#link:active{
    color: white;
    transition: 0.5s;
}

/*DIV dos links*/
#links1{
    text-align: center;
    line-height: 20px;
    transition: 0.5s;
}

#links1:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

#links2:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

#links2{
    text-align: center;
    line-height: 20px;
    transition: 0.5s;
}

#animate{
    margin-top: 20px;
    position: absolute;
    width: 450px;
    margin-left: 400px;
    transition: 1s;
}

#animate:hover{
    transition: 1s;
    transform: scale(1.10);
}

footer{
    font-size: 10pt;
    margin-top: 500px;
    clear: both;
    border-top: 1px solid rgba(255, 255, 255, 0.495);
    color: rgba(255, 255, 255, 0.495);
    text-align: center;
}

.color1 {color: #642242;}
.color2 {color: #852f4d;}
.color3 {color: #b9455f;}
.color4 {color: #ff6775;}
.color5 {color: #ff998e;}


/* MOBILE */
@media screen and (max-width: 768px){
    #title{
        background-color: #852f4d;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.158);
        justify-content: center;
        align-items: center;
        padding: 10px 10px 10px 10px;
        transition: 1s;
    }

    #list{
        font-size: 13pt;
        flex-direction: row;
    }
    
    #list p{
        text-align: right;
        display: block;
        color: #ff998e;
        margin: 10px;
        transition: 0.5s;
    }

    main{
        display: inline;
        flex-direction: column;
        justify-content: stretch;
        margin-top: 50px;
        line-height: 1px;
    }
    
    main h2{
        color: #ff6775;
        font-weight: 1;
        font-size: 20pt;
        line-height: 10px;
    }
    
    main h3{
        font-weight: 1;
        font-size: 20pt;
        line-height: 25px;
    }
    
    main p{
        font-weight: 1;
        font-size: 10pt;
        line-height: 20px;
    }

    #link{
        color: #ff998e;
        text-decoration: none;
        font-size: 15pt;
        text-align: center;
        transition: 0.5s;
    }

    #animate{
        width: 250px;
        margin-left: 50px;
        margin-top: 20px;
    }

    footer{
        font-size: 5pt;
        margin-top: 300px;
        clear: both;
        border-top: 1px solid rgba(255, 255, 255, 0.495);
        color: rgba(255, 255, 255, 0.495);
        text-align: center;
    }
}